* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: royalblue;
  color: #fff;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.new-board {
  display: inline-block;
  float: right;
  position: relative;
}
.dropdown {
  position: absolute;
  right: 10px;
}

.accordion {
  position: relative;
  width: 90%;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
}

.accordion-item-header button:after {
  content: "\21E3";
  cursor: pointer;


}
.accordion-item-header.active button:after {
  content: "\21E1";
  cursor: pointer;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.small_box1 {
    float: left;
    width: 25%;
    height: 200px;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}